# Task 1


Try 5 different functions of the string in python .
FOr example -- index,split  function

In [16]:
name="lets upgrade"
addr="Vijayawada"
print(name.index("g"))
print(name.split())
print(name + " @ " + addr)
print(name.title())
print(name.capitalize())
print(name.swapcase())

7
['lets', 'upgrade']
lets upgrade @ Vijayawada
Lets Upgrade
Lets upgrade
LETS UPGRADE

# Task 2

Try 5 different functions of the List object  in python .

In [34]:
a=["lets",2020,10.5,'upgrade']
b=[2,3,4,9,6,43,23]
b.sort()
print(b)
print(b[::-1])
print(type(a))
print(len(a))
b.append(1000)
print(b)
b.insert(1,200)
print(b)
print(a)
a.pop()
print(a)

[2, 3, 4, 6, 9, 23, 43]
[43, 23, 9, 6, 4, 3, 2]
<class 'list'>
4
[2, 3, 4, 6, 9, 23, 43, 1000]
[2, 200, 3, 4, 6, 9, 23, 43, 1000]
['lets', 2020, 10.5, 'upgrade']
['lets', 2020, 10.5]

# Task 3
Experiment with atleast 5 default functions in dictionary

In [47]:
dict1={"name":"LUG","addr":"vja","age":24,"no":4567}
print(dict1)
print(dict1.items())
print(dict1.get("name"))
print(dict1.keys())
print(dict1.values())
b=dict1.copy()
print(b)
p=dict1.pop("no")
print(p)
print(dict1)
print(dict1.items())

{'name': 'LUG', 'addr': 'vja', 'age': 24, 'no': 4567}
dict_items([('name', 'LUG'), ('addr', 'vja'), ('age', 24), ('no', 4567)])
LUG
dict_keys(['name', 'addr', 'age', 'no'])
dict_values(['LUG', 'vja', 24, 4567])
{'name': 'LUG', 'addr': 'vja', 'age': 24, 'no': 4567}
4567
{'name': 'LUG', 'addr': 'vja', 'age': 24}
dict_items([('name', 'LUG'), ('addr', 'vja'), ('age', 24)])